################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HotelBot/.vs
/HotelBot/HotelBot/bin
/HotelBot/HotelBot/obj
/HotelBot/packages
